:root {
    --text-color: #ffffff;
    --text-color-1: #a0a0a0;
    --bg-color: #080808;
    --border-color: #e9b933;
    --gradient-color1: #000000;
    --gradient-color2: #141206;
    --gradient: linear-gradient(150deg, var(--gradient-color2), var(--gradient-color1));

    /* Animation Timers */
    --animation-delay: 155ms;

    /* Misc Variables */
    --bg-h: 1px;
}

body, html {
    margin: 0;
    background-color: var(--bg-color);
    background-image: var(--gradient);
    color: var(--text-color);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0;
}

ol {
    margin: 0;
}

.ph {
    color: var(--text-color);
    transition: var(--animation-delay);
    margin: 0;
    padding: 0;
}
.ph:hover {
    color: #a0a0a0;
}

header {
    background-color: black;
    color: aliceblue;
    margin: 0px;
    border-bottom: solid 1px var(--border-color);
    padding: 0 10px;
}
@media(min-width: 1080px) {
    header {
        padding: 0 50px;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 5px;
}

.hamburger {
    font-size: 34px;
    max-height: 34px;
    margin: auto 0;
}
@media(min-width: 811px) {
    .hamburger {
        display: none;
    }
}

nav img {
    max-height: 54px;
}
@media(max-width: 335px) {
    nav img {
        margin: 0px 0px 0px 0px;
    }
}

.links {
    float: right;
    display: flex;
    justify-content: space-between;
    min-width: 420px;
}
@media(max-width: 810px) {
    .links {
        display: none;
    }
}
.links h1 {
    font-weight: normal;
    font-size: 14pt;
}

.links a {
    color: var(--text-color);
    text-decoration: none;
    background: linear-gradient(to right, var(--border-color), var(--border-color)) no-repeat left bottom / 0 var(--bg-h);
    transition: var(--animation-delay);
    padding-bottom: 2px;
}
.links a#selected {
    color: var(--text-color);
    background: linear-gradient(to right, var(--border-color), var(--border-color)) no-repeat left bottom / 0 var(--bg-h);
    padding-bottom: 2px;
    background-size: 100% var(--bg-h);
    background-position-x: left;
}
.links a:where(:hover, :focus-visible) {
    color: var(--text-color-1);
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

hr {
    border: 1px solid var(--border-color);
}

.button {
    color: var(--text-color-1);
    text-decoration: none;
    background: linear-gradient(to right, var(--border-color), var(--border-color)) no-repeat left bottom / 0 var(--bg-h);
    transition: var(--animation-delay);
    padding-bottom: 2px;
}
.button:where(:hover, :focus-visible) {
    color: var(--text-color);
    background-size: 50% var(--bg-h);
    background-position-x: left;
    cursor: pointer;
}
.selected {
    color: var(--text-color);
    background: linear-gradient(to right, var(--border-color), var(--border-color)) no-repeat left bottom / 0 var(--bg-h);
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.contact {
    font-size: 34px;
    max-height: 34px;
    margin: auto 0;
}
@media(max-width: 600px) {
    nav {
        justify-content: left;
    }
    .contact {
        display: none;
    }
    nav #logo {
        margin: 0 auto;
    }
}

main {
    margin: 0 auto;
    max-width: 1288px;
    background-color: #000000;
}

.flex-container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

img.square {
    display: none;
    margin: 50px auto 0;
    max-height: 150px;
}

img.hero {
    margin: 0 0 20px 0;
    border-radius: .3em;
    width: 475px;
}
@media (max-width: 913px) {
    img.hero {
        display: none;
    }
    img.square {
        display: block;
    }
}

img.img-sec-2 {
    margin: 0 0 20px 0;
    border-radius: .3em;
    max-height: 566px;
    width: 365px;
}

.block-container {
    max-width: 1080px;
    min-width: 315px;
    margin: 0 12px 20px;
}
@media (max-width: 402px) {
    .block-container {
        max-width: 1080px;
        margin: 0 0px 20px;
    }
}

li {
    font-size: 14pt;
    margin: 6px 0;
}

button {
    height: 50px;
    width: 175px;
    font-size: 12px;
    background-color: var(--gradient-color1);
    color: var(--text-color);
    border: solid 1px var(--border-color);
    transition: var(--animation-delay);
    margin: 500px 0 0 40px;
}
button:hover {
    cursor: pointer;
    background-color: var(--border-color);
    color: var(--bg-color);
}

.video-container-pop {
    margin: auto 0;
    width: 400px;
    height: 240px;
    border: 1px solid var(--border-color);
}
.video-container-pop iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}